.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CloseBanner {
  border: none;
  background: none;
  position: relative;
  right: 2%;
  top: -17px;
  font-size: 20px;
  color: white;
}

.Pic1 {
    max-height: 40px;
    padding-right: 70px;
}

.Pic2 {
    max-height: 46px;
    padding-left: 50px;
}

.input-search{
    width: 600px;
    height: 45px;
    background-color: #EFF0F5;
    border: none;
}

.search-button {
    background-color: #f47424;
    border: none;
    color: white;
    height: 45px;
    width: 45px;
    font-size: 26px;
}

.side-menu {
    background-color: white;
    font-size: 12px;
    line-height: 0.67;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    padding-top:25px;
}

.wrapper {
    background-color:#F5F5F5;
}
