.nav {
    background-color: lightgray;
}

.nav-click {
    color: gray;
    text-decoration: none;
    position: relative;
}

.nav-click:hover {
    color: #f47424;
}

.on-point:hover {
    background-color: lightgray;
    color: #f47424;
}